.App {
    .dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  
      .dashboard-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
  
        .status-message {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          flex-grow: 1;
        }
  
        .buy-ticket-button {
          position: absolute;
          top: 10px;
          right: 20px;
        }
      }
  
      .dashboard-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
  
        .available-ticket-count,
        .available-tickets,
        .purchased-ticket-count {
          flex: 1;
          padding: 10px;
        }
  
        .available-tickets {
          text-align: center;
        }
      }
  
      .http-stats {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
  
      .purchased-tickets {
        margin-bottom: 20px;
        width: 100%;
      }
  
      .system-controls {
        display: flex;
        justify-content: center;
        margin-top: 20px;
  
        button {
          margin: 0 10px;
        }
      }
    }
  }

  /* Typography for Specific Elements */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
    font-weight: 700;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
  }
  
  h4 {
    font-size: 1rem;
    margin-top: -20px;
    margin-bottom: 42px;
    font-style: italic;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  button {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .App {
        padding: 10px;
    }
  
    .App-header {
        font-size: 2rem;
    }
  
    .dashboard {
        gap: 15px;
    }
  
    .status-message {
        font-size: 1rem;
        padding: 8px;
    }
  
    h1 {
        font-size: 1.5rem;
    }
  
    h2 {
        font-size: 1.25rem;
    }
  
    h3 {
        font-size: 1.1rem;
    }
  }

  .status-message {
    font-size: 1.2rem;
    color: #3f7d20;
    background-color: #e0f7e0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 42px;
    max-width: 424px;
    margin: auto;
    margin-top: 24px;
    border: 3px solid #3f7d20;
  }

  .App2 {
    text-align: center;
  }

  .buyTicketBtn {
    margin-bottom: 50px;
  }

  .buyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 176px;
    margin-bottom: 20px;
  }

  .buyTicketTxt {
    font-size: 18px !important;
    font-weight: bold !important;
  }